doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
  body
    h1.header 一个简单的博客
    .main 
      .left 
        ul
          li 登录 
          li 登出 
      .right 
        input(type="text")
